/* __ __
  / // /____ ____  ____   ___  ____  ____  ____  _
  \ . \/ __// ___// -__/ / _ //__  // _  // -__// /_
 /_//_/ __//____//____/ / __//__-_//_//_//____//___/
     /_/        by diws/_/                    blumon

if when implementing the panel color looks a little messy, you can follow these instructions 

Panel Settings
	Top:
	Row size: 4opx
	Length: 1336px
	Fixed icon size: 17px

	Clock Font: Roboto Regular 9
	      Format: " %I:%M %p "

Appearance
	Theme: Adwaita-Dark
	Icons: Papirus-Dark, Gruvbox Plus Dark (for launcher)
	WM Theme: Ant-Bloody
 */

:root {
  --background: #1d2228;
  --background-primary: #434b5e;
  --background-secondary: #3b4252;
  --background-active: #495164;
  --accent: #80a1c0;
  --text: #e5eaf0;
  --info: #8fbbba;
  --error: #be616b;
  --warning: #eacb8b;
  --success: #a3bd8d;
}

.xfce4-panel {
  background: var(--background);
  font-size: 16px;
  color: var(--text);
}

/*Workspace*/
#pager-4 #xfce-panel-toggle-button {
  background: var(--background-primary);
  border-radius: 4px;
  margin: 4px;
  padding: 8px;
}

#pager-4 #xfce-panel-toggle-button:hover {
  background: var(--background-active);
}

#pager-4 #xfce-panel-toggle-button:checked {
  background: var(--background-active);
}

/*Tasklist*/
.xfce4-panel .tasklist .toggle {
  background: var(--background-primary);
  border-radius: 4px;
  margin: 4px;
  padding: 5px;
}

.xfce4-panel .tasklist .toggle:checked {
  background: var(--background-active);
}

.xfce4-panel .tasklist .toggle:hover {
  background: var(--background-active);
}

/*Notification*/
#xfce4-notification-plugin {
  background: var(--background-primary);
  border-radius: 4px;
  margin: 4px;
  padding: 5px;
}

#xfce4-notification-plugin:hover {
  background: var(--background-active);
}

#xfce4-notification-plugin:checked {
  background: var(--background-active);
}

/*Sound*/
#pulseaudio-button {
  background: var(--background-primary);
  border-radius: 4px;
  margin: 4px;
  padding: 5px;
}

#pulseaudio-button:hover {
  background: var(--background-active);
}

#pulseaudio-button:checked {
  background: var(--background-active);
}

/*Battery*/
#xfce4-power-manager-plugin {
  background: var(--background-primary);
  border-radius: 4px;
  margin: 4px;
  padding: 5px;
}

#xfce4-power-manager-plugin:hover {
  background: var(--background-active);
}

#xfce4-power-manager-plugin:checked {
  background: var(--background-active);
}

/*Clock*/
#clock-button {
  background: var(--background-active);
  border-radius: 4px;
  margin: 4px;
  padding: 5px;
}

#clock-button:hover {
  background: var(--background-active);
}

#clock-button:checked {
  background: var(--background-active);
}
